
---
input_boolean.vacuum_hallway:
room_id: "13"
input_boolean.vacuum_livingroom:
room_id: "16"
input_boolean.vacuum_bedroom:
room_id: "10"
input_boolean.vacuum_kitchen:
room_id: "11"
input_boolean.vacuum_office:
room_id: "14"
input_boolean.vacuum_bathroom:
room_id: "12"