---
vacuum_clean_segments:
  sequence:
  - service: script.turn_on
    target:
      entity_id: script.vacuum_clean_segments_message
    data:
      variables:
      segments: '{% raw %}{{expand("group.vacuum_rooms") | selectattr("state","eq","on")
      | map(attribute="attributes.room_id") | list | to_json}}{% endraw %}'
  mode: single
  alias: vacuum_clean_segments
  icon: mdi:arrow-right
vacuum_clean_segments_message:
  alias: vacuum_clean_segments_message
  sequence:
  - service: mqtt.publish
    data:
      topic: valetudo/{{ homeassistant_robot_name }}/MapSegmentationCapability/clean/set
      payload_template: '{% raw %}{"segment_ids": {{segments}}}{% endraw %}'
  mode: single