ansible.cfg
roles/.DS_Store
.vscode
test.yml
production.yml
vars/ssh/
media/certs/*
roles/portainer_setup/templates/configs/**/*.pem
roles/portainer_setup/templates/configs/**/*.key
.ansible-lint-ignore
.ansible-lint