# Migration to v3 setting
core:
  defaultRuleSyntax: v2

# EntryPoints
http:

  serversTransports:
    insecureTransport:
      insecureSkipVerify: true

# Routers
  routers:

    proxmox:
      entryPoints:
        - "https"
      rule: "Host(`proxmox.{{ domain }}`)"
      middlewares:
        - authelia
      tls: {}
      service: proxmox

    valetudo:
      entryPoints:
        - "https"
      rule: "Host(`vacuum.{{ domain }}`)"
      middlewares:
        - authelia
      tls: {}
      service: valetudo

    haos:
      entryPoints:
        - "https"
      rule: "Host(`ha.{{ domain }}`)"
      tls: {}
      service: haos

    technitium:
      entryPoints:
        - "https"
      rule: "Host(`dns.{{ domain }}`)"
      service: technitium
      tls: {}
      middlewares:
        - allow-internal-only@docker

    esxi:
      entryPoints:
        - "https"
      rule: "Host(`esxi.{{ domain }}`)"
      service: esxi
      tls: {}
      middlewares:
        - allow-internal-only@docker

    vcenter:
      entryPoints:
        - "https"
      rule: "Host(`vcenter.{{ domain }}`)"
      service: vcenter
      tls: {}
      middlewares:
        - allow-internal-only@docker

# Services
  services:

    proxmox:
      loadBalancer:
        servers:
          - url: "https://192.168.31.250:8006"
        serversTransport: insecureTransport

    valetudo:
      loadBalancer:
        servers:
          - url: "http://192.168.31.198"
    haos:
      loadBalancer:
        servers:
          - url: "http://192.168.31.111:8123"

    technitium:
      loadBalancer:
        servers:
          - url: "http://192.168.31.1:5380"
    esxi:
      loadBalancer:
        servers:
          - url: "https://192.168.31.176"
        serversTransport: insecureTransport
    vcenter:
      loadBalancer:
        servers:
          - url: "https://192.168.31.218"

# Middlewares
  middlewares:
    https-redirect:
      redirectScheme:
        scheme: https
    authelia:
      forwardAuth:
        address: "http://authelia:9091/api/verify?rd=https://auth.{{ domain }}"
    default-headers:
      headers:
        frameDeny: true
        sslRedirect: true
        browserXssFilter: true
        contentTypeNosniff: true
        forceSTSHeader: true
        stsIncludeSubdomains: true
        stsPreload: true
        stsSeconds: 15552000
        customFrameOptionsValue: SAMEORIGIN
        customRequestHeaders:
          X-Forwarded-Proto: https