version: "3.8"
services: 
  cloudflared: 
    image: cloudflare/cloudflared 
    container_name: cloudflared
    restart: unless-stopped 
    command: tunnel run {{ cloudflared_tunnel }}
    volumes:
      - cloudflared:/home/nonroot/.cloudflared/

volumes:
    cloudflared: