services: 
  cloudflared: 
    image: cloudflare/cloudflared 
    container_name: cloudflared
    restart: unless-stopped 
    command: tunnel run {{ tunnel_name }}
    environment:
      - TZ={{ timezone }}
    volumes:
      - cloudflared:/home/nonroot/.cloudflared/
    networks:
      - proxy

volumes:
  cloudflared:
    external: true

networks:
  proxy:
    external: true

