version: "2.1"
services:
  couchdb:
    image: couchdb
    container_name: obsidian-livesync
    user: 1000:1000
    environment:
      - COUCHDB_USER={{ couchdb_user }}
      - COUCHDB_PASSWORD={{ couchdb_password }}
    volumes:
      - couchdb_data:/opt/couchdb/data
      - couchdb:/opt/couchdb/etc/
    ports:
      - 5984:5984
    restart: unless-stopped

volumes:
  couchdb:
  couchdb_data: