version: '3' 
services:
  influxdb:
    restart: unless-stopped
    container_name: influxdb
    image: influxdb:2.1-alpine
    ports:
      - {{ influxdb_port }}:{{ influxdb_port }}
    volumes:
      - influxdb:/var/lib/influxdb2
    networks:
      - monitoring

networks:
  monitoring:
    external: true

volumes:
    influxdb: