services:
  backup:
    container_name: offen
    restart: unless-stopped
    image: offen/docker-volume-backup:latest
    environment:
      AWS_ENDPOINT: "{{ offen_aws_endpoint }}"
      AWS_S3_BUCKET_NAME: "{{ offen_aws_bucket_name }}"
      AWS_ACCESS_KEY_ID: "{{ offen_aws_key_id }}"
      AWS_SECRET_ACCESS_KEY: "{{ offen_aws_secret_key }}"
      BACKUP_CRON_EXPRESSION: "0 3 * * 0"
    volumes:
{% for volume in all_volumes %}
      - {{ volume }}:/backup/{{ volume }}:ro
{% endfor %}

volumes:
{% for volume in all_volumes %}
  {{ volume }}:
    external: true
{% endfor %}