version: '3'

services:
  backup:
    container_name: offen
    image: offen/docker-volume-backup:v2
    environment:
      AWS_ENDPOINT: "{{ offen_aws_endpoint }}"
      AWS_S3_BUCKET_NAME: "{{ offen_aws_bucket_name }}"
      AWS_ACCESS_KEY_ID: "{{ offen_aws_key_id }}"
      AWS_SECRET_ACCESS_KEY: "{{ offen_aws_secret_key }}"
      BACKUP_CRON_EXPRESSION: "0 3 * * 0"
    volumes:
{% for container, volumes in container_volumes_dict.items() %}
{% for volume in volumes %}
      - {{ container }}_{{ volume }}:/backup/{{ container }}_{{ volume }}:ro
{% endfor %}
{% endfor %}

volumes:
{% for container, volumes in container_volumes_dict.items() %}
{% for volume in volumes %}
  {{ container }}_{{ volume }}:
    external: true
{% endfor %}
{% endfor %}
