services:
    openbooks:
        image: evanbuss/openbooks:latest
        container_name: openbooks
        restart: unless-stopped
        command: --name {{ portainer_username }} --persist
        ports:
            - 7030:80
        volumes:
            - openbooks:/books
volumes:
    openbooks:
        external: true


