version: "3"
services: 
  portainer:
    container_name: portainer
    image: portainer/portainer-{{ portainer_edition }}:latest
    ports:
      - {{ portainer_port }}:{{ portainer_port }}
    volumes:
      - portainer_data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped

volumes:
  portainer_data: 